autopep8==2.3.1
certifi==2021.10.8
cffi==1.17.1
chardet==3.0.4
cryptography==3.2.1.2
DateTime==5.5
DAWG-Python==0.7.2
decorator==5.1.1
docopt==0.6.2.2
ez_setup==0.9
geojson==2.5.0
idna==2.7
pycodestyle==2.12.1
pycparser==2.21
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
python-telegram-bot==12.8
pytz==2024.2
requests==2.19.0
schedule==1.2.2
six==1.16.0
tomli==2.0.2
tornado==6.1
urllib3==1.23
xlrd==1.2.0
zope.interface==7.0.3
